@using eVoucher_ViewModel.Requests.CampaignRequests;
@using eVoucher_ViewModel.Response;
@model PageResult<CampaignVM>
@{
    ViewData["Title"] = "Campaign - Index";
}


<div class="text-start">
    <h6 class="text-danger text-decoration-underline mt-3 mb-2">Ongoing Campaign:</h6>
</div>
<div class="container-fluid">
    @foreach (var item in Model.Items)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@item.ImagePath/100px180/?text=Image cap" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Slogan</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Begin date: @item.BeginningDate -> End date: @item.EndingDate</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    
                </ul>
                <div class="card-body">
                    @Html.ActionLink("View detail", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("View vouchertype", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Edit Campaign", "Edit", new { id = item.Id })
                </div>
            </div>
        </div>
    }
    
</div>

