@using eVoucher_ViewModel.Requests.CampaignRequests;
@using eVoucher_ViewModel.Response;
@model PageResult<CampaignVM>
@{
    ViewData["Title"] = "Campaign - Index";
}


<div class="row container-fluid my-2 text-start">
        <a class="btn btn-warning btn-lg">Ongoing Campaigns:</a>
</div>
<div class="row mb-3">
    @foreach (var item in Model.Items)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@item.ImagePath" width="350" height="260">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Slogan</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Begin date: @item.BeginningDate -> End date: @item.EndingDate</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    
                </ul>
                <div class="card-body">
                    @Html.ActionLink("View detail", "ViewDetail", new { id = item.Id }) |
                    @Html.ActionLink("View vouchertype", "ViewVoucherType", new { id = item.Id }) |
                    @Html.ActionLink("Edit Campaign", "Edit", new { id = item.Id })
                </div>
            </div>
        </div>
    }
    
</div>
@await Component.InvokeAsync("Pager", Model)
<div class="row container-fluid my-2 align-content-end">
    <a class="btn btn-primary btn-lg" asp-controller="Campaign" asp-action="Create">Create new Campaign</a>
</div>

