@using eVoucher_ViewModel.Requests.CampaignRequests;
@using eVoucher_ViewModel.Response;
@model PageResult<CampaignVM>

@{
    ViewData["Title"] = "Home Page";
}


<!--
<div class="container" style="height= 100">
    <partial name="_Banner" />
</div>
-->
<div class="container">
    <form asp-action="Index" method="get">
        <div class="row my-3">
            <div class="col col-lg-3 col-md-4">
                <div class="maxl">
                    <label class="radio inline mx-3">
                        <input type="radio" name="filter" value="1">
                        <span class="text-white text-bg-primary text-lg-center fw-bold"> NearBy </span>
                    </label>
                    <label class="radio inline mx-3">
                        <input type="radio" name="filter" value="2" checked>
                        <span class="text-danger text-bg-warning text-lg-center fw-bold">Latest </span>
                    </label>
                </div>
            </div>
            <div class="col col-lg-3 col-md-3">
                <select name="categoryId" class="form-control" asp-items="@ViewBag.Categories">
                    <option value="0">--Choose Category--</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4">
                <input class="form-control" type="text" value="@ViewBag.currentAddress" name="currentAddress"
                placeholder="Input your current address"/>
            </div>
            <div class="col-lg-1 col-md-1">
                <button type="submit" class="btn btn-success form-control float-center">View</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="ag-format-container">
        <div class="ag-courses_box">

            @foreach(var campaign in Model.Items)
            {
            <div class="ag-courses_item">
                <a asp-controller="Campaign" asp-action="CampaignDetails" asp-route-id="@campaign.Id" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg">
                        asasasas
                    </div>
                    <div class="img_container">
                        <img src="@campaign.ImagePath" class="campaign_img card-img-top" />
                    </div>
                    <div class="ag-courses-item_title">
                        <h5>
                            @campaign.Name
                        </h5>
                        <p>@campaign.Slogan</p>
                        <p>Store: @campaign.PartnerName</p>
                        <p>Distance: @campaign.DistanceToCustomerInChar</p>
                        <p>Category: @campaign.PartnerCategoryName</p>
                    </div>

                    <div class="ag-courses-item_date-box">
                        Start:
                        <span class="ag-courses-item_date">
                            @campaign.BeginningDate.ToShortDateString()
                        </span>
                    </div>
                    <div class="ag-courses-item_date-box">
                        End:
                        <span class="ag-courses-item_date">
                            @campaign.EndingDate.ToShortDateString()
                        </span>
                    </div>
                </a>
            </div>
            }
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>    
</div>
