@model List<eVoucher_ViewModel.Requests.CampaignRequests.CampaignVM>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <partial name="_Banner" />
</div>w
<div class="container">
    <div class="ag-format-container">
        <div class="ag-courses_box">

            @foreach(var campaign in Model)
            {
            <div class="ag-courses_item">
                <a asp-controller="Campaign" asp-action="CampaignDetails" asp-route-id="@campaign.Id" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="img_container">
                        <img src="@campaign.ImagePath" class="campaign_img" />
                    </div>
                    <div class="ag-courses-item_title">
                        <h5>
                            @campaign.Name
                        </h5>
                        <p>@campaign.Slogan</p>
                        <p>Store: @campaign.PartnerName</p>

                    </div>

                    <div class="ag-courses-item_date-box">
                        Start:
                        <span class="ag-courses-item_date">
                            @campaign.BeginningDate.ToShortDateString()
                        </span>
                    </div>
                    <div class="ag-courses-item_date-box">
                        End:
                        <span class="ag-courses-item_date">
                            @campaign.EndingDate.ToShortDateString()
                        </span>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
    <a asp-action="Index" asp-controller="Voucher">Voucher</a>
</div>
