@using eVoucher_ViewModel.Requests.VoucherRequests;
@using eVoucher_ViewModel.Response;
@model PageResult<VoucherVM>
@{
    ViewData["Title"] = "Voucher - Index";
}


<div class="row container-fluid my-2 text-start">
    <a class="btn btn-warning btn-lg">All vouchers gotten:</a>
</div>
<div class="row mb-3">
    @foreach (var item in Model.Items)
    {
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img class="card-img-top" src="@item.VoucherTypeImagePath" width="150">
                <div class="card-body">
                    <h5 class="card-title">Campaign: @item.CampaignName</h5>
                    <p class="card-text">Shop Store: @item.PartnerCategoryName</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Promotion: @item.Promotion</li>
                    <li class="list-group-item">Expired date: @item.ExpiringDate</li>
                </ul>
                <div class="card-body">
                    @Html.ActionLink("View detail", "ViewDetail", new { id = item.Id })
                </div>
            </div>
        </div>
    }
</div>
@await Component.InvokeAsync("Pager", Model)
<div class="row container-fluid my-2 align-content-end">
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Home page</a>
</div>

