@model eVoucher_ViewModel.Requests.VoucherRequests.VoucherVM
@{
    ViewData["Title"] = "Voucher - Detail";
}
<div class="container">
    <!--Vouchertype image-->
    <div class="row">
        <div class="col col-lg-5 col-md-6 col-sm-12">
            <div class="card p-2">
                <img src="@Model.VoucherTypeImagePath" class="card-img-top" width="300" height="180" alt="...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6 col-md-7 col-sm-12">
            <p>Campaign: @Model.CampaignName</p>
            <p>Voucher type: @Model.VoucherTypeName</p>
            <p>Promotion: @Model.Promotion</p>
            <h5>Store name: @Model.PartnerName</h5>
            <p>Address: @Model.PartnerAddress</p>
            <p>Phone: @Model.PartnerPhoneNumber</p>
            <p>Category: @Model.PartnerCategoryName</p>
            <p>Date got: @Model.DateGot.ToShortDateString()</p>
            <p>Expired date: @Model.ExpiringDate.ToShortDateString()</p>
        </div>
    </div>
</div>

