@using eVoucher_ViewModel.Requests.CampaignRequests;
@model eVoucher_ViewModel.Response.PageResult<CampaignVM>
@{
    ViewData["Title"] = "Campaign Index Page";
    string explain = "";
    if (string.IsNullOrEmpty(ViewBag.CategoryName))
    {
        explain = " in all categories";
    }
    else
    {
        explain = $" in category '{ViewBag.CategoryName}'";
    }

}
<div class="container-fluid">
    <form asp-controller="Campaign" asp-action="Index" method="get">
        <div class="row my-3">
            <div class="col-lg-5 col-md-5">
                <select name="categoryId" class="form-control" asp-items="@ViewBag.Categories">
                    <option value="0">--Choose category--</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-3">
                <button type="submit" class="form-control btn btn-primary float-start">View</button>
            </div>
        </div>
    </form>
    <div class="container-fluid">
        <div class="bg-primary bg-opacity-75">
            <h6 class="text-md-start font-weight-bold my-2 text-warning">Campaigns @explain:</h6>
        </div>
        <!--Campaigns-->
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col col-lg-4 col-md-6 col-sm-12 my-3 border-2">
                    <div class="row card-img-bottom container-fluid">
                        <img src="@item.ImagePath" class="flex-fill" height="200" width="360" />
                    </div>
                    <div class="card-header bg-info fw-bold border-1 rounded-1">@item.Name</div>
                    <div class="card-body bg-white rounded-1 mb-1">
                        <p class="fw-bold">@item.Slogan</p>
                        <p>Begin: @item.BeginningDate.ToShortDateString() --> End: @item.EndingDate.ToShortDateString() </p>
                        <p>Vendor: @item.PartnerName</p>
                        <p>Category: @item.PartnerCategoryName</p>
                        <p>Address: @item.PartnerAddress</p>
                        <p>Phone: @item.PartnerPhoneNumber</p>
                        <p>Status: @item.Status</p>
                    </div>
                    <div >
                        <p>
                            @Html.ActionLink("Drop campaign", "Drop", new { id = item.Id },new {@class ="text-white fw-bold bg-danger"}) |
                            @Html.ActionLink("Undrop campaign", "UnDrop", new { id = item.Id },new {@class ="text-white fw-bold bg-primary"} )
                        </p>
                    </div>
                </div>
            }
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>